@media screen and (min-width: 1024px) {
  .header {
    padding: 50px 0 64px 0;
  }
  .hero {
    height: 850px;
    padding-left: 0;
  }

  .hero-left {
    margin-right: 0;
    margin-left: 15px;
  }

  .hero-right {
    width: calc(50% - 180px);
    margin-left: 140px;
  }

  .bg-header-bottom {
    width: 100%;
    height: 180px;
  }

  .trusted {
    padding-top: 20px;
  }

  .img-phone {
    width: 75%;
  }

  .image-phone-1 {
    position: absolute;
    left: -13px;
    bottom: 42px;
  }

  .image-phone-2 {
    bottom: 0;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    padding: 50px 0 46px 0;
  }

  ul.header-navigation-item li {
    display: inline-block;
    margin: 0px 8px;
  }

  .item {
    font-size: 1.5rem;
    color: var(--text-blue);
  }

  .hero {
    padding-left: 0;
    height: 750px;
  }

  .btn {
    background-color: var(--btn-blue);
    border-radius: 30px;
    padding: 9px 19px;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--white);
    margin-left: 25px;
  }

  .hero-flex-box {
    align-items: center;
    display: flex;
  }

  .edit-box {
    margin-bottom: 10px;
  }

  .img-cicrle {
    background-color: #fdfdfe;
    width: 100%;
  }

  .hero-best {
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 30px;
  }

  .hero-left {
    width: 100%;
    margin-bottom: 45px;
    margin-right: 0;
    padding: 0 10px;
  }

  .hero-right {
    width: 100%;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }

  .trusted {
    padding-top: 50px;
    padding-bottom: 60px;
  }

  .brand {
    width: 33.3333%;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
  }

  .bg-header-bottom {
    width: 100%;
    height: 115px;
  }

  .hero-phone-img {
    width: 90%;
  }

  .app-feature-left {
    width: 100%;
  }

  .app-feature-right {
    width: 100%;
    margin-left: 0;
  }

  .app-feature-body-text {
    font-size: 1.8rem;
  }

  .smart-title {
    font-size: 3rem;
  }

  .smart-text {
    font-size: 1.8rem;
  }

  .designer {
    padding-top: 35px;
  }

  .smart-title {
    line-height: 4rem;
    font-size: 2.8rem;
  }

  .smart-text {
    font-size: 1.6rem;
  }

  .box-designer-left {
    display: flex;
    align-items: center;
  }

  .box-designer-right {
    padding-top: 55px;
  }

  .why {
    padding-top: 90px;
  }

  .app-feature-body-title.text-normal {
    font-size: 1.8rem;
  }

  .app-feature-body-text {
    font-size: 1.6rem;
  }

  .image-phone-1 {
    position: absolute;
    left: -25px;
    bottom: 116px;
    width: 100%;
  }

  .image-phone-2 {
    position: absolute;
    right: -23px;
    width: 100%;
    bottom: 80px;
  }

  .get-awesome-feature {
    padding-top: 100px;
  }

  .testimonial {
    padding-top: 90px;
  }

  .testimonial-people {
    display: flex;
    align-items: center;
  }

  .user-name-1 {
    top: 132px;
  }

  .dowload-app {
    padding-top: 25px;
    padding-bottom: 50px;
  }

  .smart-object-img {
    position: absolute;
    top: 223px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0 30px 0;
  }

  .logo-title {
    font-size: 2.5rem;
  }

  .header-navigation {
    display: none;
  }

  .hero-best {
    font-size: 3rem;
    line-height: 4.5rem;
    margin-bottom: 12px;
  }

  .hero-text {
    margin-bottom: 40px;
    font-size: 1.6rem;
  }

  .hero-flex-box {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .brand {
    width: 100%;
    margin-bottom: 30px;
  }

  .hero-phone-img {
    width: 90%;
  }

  .hero-watch-demo {
    margin-left: 10px;
  }

  .trusted-title {
    font-size: 2.2rem;
  }

  .hero {
    height: 1000px;
  }

  .hero-left {
    padding: 0;
    margin-bottom: 50px;
  }

  .img-cicrle {
    height: 880px;
  }

  .edit-box {
    margin-bottom: 10px;
    width: 300px;
  }

  .bg-header-bottom {
    position: absolute;
    bottom: -85px;
  }

  .side-bar {
    display: block;
    font-size: 2.5rem;
  }

  .img-cicrle {
    height: 880px;
    width: 100%;
  }

  .img-cicrle img {
    width: 100%;
  }

  .hero-best {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .app-feature-left {
    margin-right: 0;
  }

  .app-feature-title {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .app-feature-title-text {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .app-feature-body {
    margin-left: 22px;
  }

  .app-feature-body-title {
    font-size: 1.7rem;
  }

  .app-feature-body-text {
    font-size: 1.4rem;
  }

  .smart {
    padding-top: 20px;
  }

  .smart-box-left {
    width: 100%;
  }

  .smart-title {
    line-height: 3.2rem;
    font-size: 2.4rem;
    margin-bottom: 12px;
  }

  .smart-text {
    font-size: 1.6rem;
  }

  .smart-box-right {
    width: 100%;
    margin-left: 0;
  }

  .smart-jackpot {
    padding-top: 20px;
  }

  .app-feature-right.smart-feature {
    margin-left: 0;
  }

  .app-feature-box.smart-box {
    margin-top: 20px;
    flex-direction: column;
  }

  .app-feature-box-flex.smart-none-flex {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 30px;
  }

  .app-feature-body.smart-feature-body {
    margin-left: 0;
    padding-right: 0;
  }

  .designer {
    padding-top: 15px;
  }

  .box-designer-left {
    width: 100%;
    margin-right: 0;
  }

  .box-designer-right {
    padding-top: 50px;
    width: 100%;
  }

  .box-designer-title {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  .why {
    padding-top: 50px;
  }

  .why-title-top {
    font-size: 3rem;
    line-height: 4rem;
  }

  .why-title-bottom {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .utimate {
    padding-top: 50px;
  }

  .col-left {
    width: 100%;
    height: 1900px;
  }

  .app-feature-box-flex.smart-none-flex.ultimate-box {
    width: 100%;
    margin-right: 0;
    padding-left: 0;
  }

  .app-feature-box.smart-box.ultimate-col {
    margin-bottom: 20px;
  }

  .col-right {
    width: 100%;
  }

  .image-phone-1 {
    width: 100%;
  }

  .get-awesome-feature {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .box-container-get-awesome {
    flex-wrap: wrap;
  }

  .get-awesome-box-price {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .testimonial {
    padding-top: 50px;
  }

  .testimonial-people {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .testimonial-info {
    width: 100%;
    padding: 0 15px;
  }

  .box-designer-title {
    font-size: 2.8rem;
    line-height: 3.5rem;
    margin-bottom: 15px;
  }

  .faq {
    padding-top: 65px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }

  .why-title-top {
    margin-bottom: 15px;
  }

  .question-box {
    padding: 37px 30px 44px 40px;
    margin-bottom: 15px;
  }

  .question-title {
    font-size: 1.8rem;
    line-height: 2.2rem;
    margin-bottom: 15px;
  }

  .question-text {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }

  .question-box-text {
    background-color: #eaf0fa;
    padding: 12px 19px 10px 22px;
    margin-bottom: 15px;
  }

  .question-box-text p {
    font-size: 1.4rem;
  }

  .dowload-app {
    height: 520px;
  }

  .dowload-left {
    width: 100%;
    padding-top: 50px;
  }

  .dowload-right {
    width: 100%;
  }

  .smart-object-img {
    width: 100%;
    top: 46px;
  }

  .app-store {
    margin-right: 15px;
  }

  .app-store img {
    width: 100%;
  }

  .google-play img {
    width: 100%;
  }

  .footer {
    background-color: var(--bg-footer);
    padding: 50px 0 60px 0;
  }

  .footer-item {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  ul.footer-navigation li {
    margin: 0 5px;
  }

  ul.footer-navigation li a {
    font-size: 1.3rem;
  }

  .footer-social {
    font-size: 2.5rem;
  }

  .app-feature-phone-img {
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .dowload-left {
    width: 100%;
    padding-top: 10px;
  }

  .smart-object-img {
    width: 100%;
    top: 61px;
  }
}
